Hacker News blah blah<br>
<%= link_to "Sign In", login_path %>
<%= link_to "Sign Up", new_user_path %>

<%= link_to "Post", new_post_path if current_user? %>
<%= link_to "Logout", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to poodle?' } if current_user? %>

<ul>
  <% @posts.each do |post| %>
    <li><div><%= link_to "#{post.title}", "http://#{post.url}" %><br>
        <%= link_to "view post", post_path(post) %>
    </div>

    </li>
  <% end %>
</ul>


